
@{
    ViewBag.Title = "Ошибка";
}

<h4>Ошибка</h4>

<p>Вносимая ставка не соответсвует следующим требованиям:</p>
<p>1)Покупатель не имеет права установить более одной ставки подряд</p>
<p>2)Сумма ставки должна превышать сумму последней установленной ставки</p>
<p>3)Ставка должна быть внесена до окончания аукциона</p>

@Html.ActionLink("Обратно к аукциону", "Details", "Auction", new { id=ViewBag.AuctionId }, new { @class="btn btn-default" })

