@{
    ViewBag.Title = "Auction for you";
}

<div class="jumbotron">
    <h1>Auction for you</h1>
    <p class="lead">Онлайн-аукцион, доступный каждому</p>
</div>

<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <h4>Начните поиск лотов прямо сейчас!</h4>
        @using (Html.BeginForm("List", "Auction", FormMethod.Get))
        {
            <div class="form-inline">
                <div class="form-group">
                    @Html.Editor("Search", null, new { htmlAttributes = new { @class = "form-control" } })
                        <input type="submit" value="Поиск" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>