@model MarketPlace.WebUI.Models.ApplicationUser


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Личный кабинет</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h2>Личный кабинет</h2>
            <p>Это ваша личная страница, из которой вы можете осуществлять управление своей деятельностью на нашем сайте</p>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <h3>Ваши лоты</h3>
                <p>Создавайте и редактируйте лоты для будущих аукционов <a href="">Перейти к странице лотов</a> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h3>Ваши аукционы</h3>
                <p>Создайте аукцион и разместите ваш лот <a href="">Обзор ваших аукционов</a> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <h3>Редактировать страницу</h3>
                <p>Измените ваши данные в случае необходимости <a href="">Редактировать данные</a> </p>
            </div>
        </div>
    </div>
</body>
</html>
